.utf-preview:last-of-type::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1ch;
    height: 100%;
    background: var(--bs-body-bg);
    pointer-events: none;
}
.utf-preview:last-of-type {
    position: relative; 
    display: inline-block;
}

#customIdsValContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.inline-inputs {
    display: flex;
}

    .inline-inputs .form-control {
        width: auto;
    }